/* 	Massidea.org stylesheet. All subgroups ordered by the element type, and then by the order they are 
	encountered in XHTML from top to bottom and from left to right. 

	- Tuomas Valtanen
*/

/* GENERAL DEFINITIONS */

body{
    /*text-align: center;*/
    margin: 0px;
    padding: 0px;
    background: #0089CF;
    font-family: Arial;
    font-size: 14px;
    color: #333333;
}

img{
    border: 0px;
}

img.gray_line{
    width: 660px;
}

h2{
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 22px;
}

h3.recent_posts{
    color: #C0C0C0;
}

h3.recent_posts a {
    text-decoration: none;
}

h3{
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 16px;
}

p {
    margin:  0 0 1em 0;
    padding:  0;
}

/* ALL LINK DEFINITIONS */
a:link {text-decoration: underline; color: #0089CF;}
a:visited {text-decoration: underline; color: #0089CF;}
a:hover {text-decoration: none; color: #0089CF;}
a:active {text-decoration: none; color: #0089CF;}

#add_content_menu a:link {text-decoration: none; color: #333333;}
#add_content_menu a:visited {text-decoration: none; color: #333333;}
#add_content_menu a:hover {text-decoration: none; color: #333333;}
#add_content_menu a:active {text-decoration: none; color: #333333;}

#content_list_ajax_link a:link {text-decoration: none; color: #0089CF;}
#content_list_ajax_link a:visited {text-decoration: none; color: #0089CF;}
#content_list_ajax_link a:hover {text-decoration: none; color: #0089CF;}
#content_list_ajax_link a:active {text-decoration: none; color: #0089CF;}

#recent_posts_ajax_link a:link {text-decoration: none; color: #0089CF;}
#recent_posts_ajax_link a:visited {text-decoration: none; color: #0089CF;}
#recent_posts_ajax_link a:hover {text-decoration: none; color: #0089CF;}
#recent_posts_ajax_link a:active {text-decoration: none; color: #0089CF;}

div.top_row_center_right_login a:link {text-decoration: underline; color: white;}
div.top_row_center_right_login a:visited {text-decoration: underline; color: white;}
div.top_row_center_right_login a:active {text-decoration: underline; color: white;}
div.top_row_center_right_login a:hover {text-decoration: underline; color: #E7E7E7;}

div.sub_menu_item_red a:link {text-decoration: none; color: #D21034;}
div.sub_menu_item_red a:visited {text-decoration: none; color: #D21034;}
div.sub_menu_item_red a:active {text-decoration: none ; color: #D21034;}
div.sub_menu_item_red a:hover {text-decoration: none; color: #D21034;}

div.sub_menu_item_green a:link {text-decoration: none; color: #4B9B07;}
div.sub_menu_item_green a:visited {text-decoration: none; color: #4B9B07;}
div.sub_menu_item_green a:hover {text-decoration: none; color: #4B9B07;}
div.sub_menu_item_green a:active {text-decoration: none ; color: #4B9B07;}

div.sub_menu_item_yellow a:link {text-decoration: none; color: #FFC726;}
div.sub_menu_item_yellow a:visited {text-decoration: none; color: #FFC726;}
div.sub_menu_item_yellow a:hover {text-decoration: none; color: #FFC726;}
div.sub_menu_item_yellow a:active {text-decoration: none ; color: #FFC726;}

div.sub_menu_item_blue a:link {text-decoration: none; color: #0089CF;}
div.sub_menu_item_blue a:visited {text-decoration: none; color: #0089CF;}
div.sub_menu_item_blue a:hover {text-decoration: none; color: #0089CF;}
div.sub_menu_item_blue a:active {text-decoration: none ; color: #0089CF;}

div.sub_menu_item_deepblue a:link {text-decoration: none; color: #003581;}
div.sub_menu_item_deepblue a:visited {text-decoration: none; color: #003581;}
div.sub_menu_item_deepblue a:active {text-decoration: none ; color: #003581;}
div.sub_menu_item_deepblue a:hover {text-decoration: none; color: #003581;}

div.user_content_top_menu a:link {text-decoration: none; color: #0089CF;}
div.user_content_top_menu a:visited {text-decoration: none; color: #0089CF;}
div.user_content_top_menu a:hover {text-decoration: none; color: #0089CF;}
div.user_content_top_menu a:active {text-decoration: none ; color: #0089CF;}

div.user_content_row a:link {text-decoration: none; color: #0089CF;}
div.user_content_row a:visited {text-decoration: none; color: #0089CF;}
div.user_content_row a:hover {text-decoration: none; color: #0089CF;}
div.user_content_row a:active {text-decoration: none ; color: #0089CF;}

div.type_menu_all a:link {text-decoration: none; color: #333333;}
div.type_menu_all a:visited {text-decoration: none; color: #333333;}
div.type_menu_all a:hover {text-decoration: none; color: #333333;}
div.type_menu_all a:active {text-decoration: none; color: #333333;}

div.type_menu_specific a:link {text-decoration: none; color: #FFFFFF;}
div.type_menu_specific a:visited {text-decoration: none; color: #FFFFFF;}
div.type_menu_specific a:hover {text-decoration: none; color: #FFFFFF;}
div.type_menu_specific a:active {text-decoration: none; color: #FFFFFF;}

div.top_right_box_links a:link {text-decoration: none; color: #0089CF;}
div.top_right_box_links a:visited {text-decoration: none; color: #0089CF;}
div.top_right_box_links a:hover {text-decoration: none; color: #0089CF;}
div.top_right_box_links a:active {text-decoration: none; color: #0089CF;}

div.top_right_box_links_users a:link {text-decoration: none; color: #0089CF;}
div.top_right_box_links_users a:visited {text-decoration: none; color: #0089CF;}
div.top_right_box_links_users a:hover {text-decoration: none; color: #0089CF;}
div.top_right_box_links_users a:active {text-decoration: none; color: #0089CF;}

div.right_side a:link {text-decoration: none; color: #0089CF;}
div.right_side a:visited {text-decoration: none; color: #0089CF;}
div.right_side a:hover {text-decoration: none; color: #0089CF;}
div.right_side a:active {text-decoration: none; color: #0089CF;}

div.top_right_box_links_show_all_users a:link {text-decoration: none; color: #0089CF;}
div.top_right_box_links_show_all_users a:visited {text-decoration: none; color: #0089CF;}
div.top_right_box_links_show_all_users a:hover {text-decoration: none; color: #0089CF;}
div.top_right_box_links_show_all_users a:active {text-decoration: none; color: #0089CF;}

div.massidea_dev_info a:link {text-decoration: none; color: #0089CF;}
div.massidea_dev_info a:visited {text-decoration: none; color: #0089CF;}
div.massidea_dev_info a:hover {text-decoration: none; color: #0089CF;}
div.massidea_dev_info a:active {text-decoration: none; color: #0089CF;}

div.see_also_links a:link {text-decoration: none; color: #0089CF;}
div.see_also_links a:visited {text-decoration: none; color: #0089CF;}
div.see_also_links a:active {text-decoration: none; color: #0089CF;}
div.see_also_links a:hover {text-decoration: none; color: #0089CF;}

div.tag_alphanum_row a:link {text-decoration: none; color: #0089CF;}
div.tag_alphanum_row a:visited {text-decoration: none; color: #0089CF;}
div.tag_alphanum_row a:active {text-decoration: none; color: #0089CF;}
div.tag_alphanum_row a:hover {text-decoration: none; color: #0089CF;}

#tag_list_type_row a:link {text-decoration: none; color: #0089CF;}
#tag_list_type_row a:visited {text-decoration: none; color: #0089CF;}
#tag_list_type_row a:active {text-decoration: none; color: #0089CF;}
#tag_list_type_row a:hover {text-decoration: none; color: #0089CF;}

p.show_more a:link {text-decoration: none; color: #0089CF;}
p.show_more a:visited {text-decoration: none; color: #0089CF;}
p.show_more a:hover {text-decoration: none; color: #0089CF;}
p.show_more a:active {text-decoration: none; color: #0089CF;}

p.top_right_box_links a:link {text-decoration: none; color: #0089CF;}
p.top_right_box_links a:visited {text-decoration: none; color: #0089CF;}
p.top_right_box_links a:hover {text-decoration: none; color: #0089CF;}
p.top_right_box_links a:active {text-decoration: none; color: #0089CF;}

p.top_right_box_links_learn_more a:link {text-decoration: none; color: #0089CF;}
p.top_right_box_links_learn_more a:visited {text-decoration: none; color: #0089CF;}
p.top_right_box_links_learn_more a:hover {text-decoration: none; color: #0089CF;}
p.top_right_box_links_learn_more a:active {text-decoration: none; color: #0089CF;}

span.top_right_box_links a:link {text-decoration: none; color: #0089CF;}
span.top_right_box_links a:visited {text-decoration: none; color: #0089CF;}
span.top_right_box_links a:hover {text-decoration: none; color: #0089CF;}
span.top_right_box_links a:active {text-decoration: none; color: #0089CF;}

div.footer_links a:link {text-decoration: none;}
div.footer_links a:visited {text-decoration: none;}
div.footer_links a:hover {text-decoration: none;}
div.footer_links a:active {text-decoration: none;}

/* DIV DEFINITIONS*/

/* Top banner */

div.top_row{
    width: 100%;
    background: #003580;
    display: block;
    height: 94px;
    border-bottom: 1px solid white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}	

div.top_row_center{
    width: 748px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 94px;
    background: #003580;
    text-align: center;
    display: block;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

div.top_row_center_left{
    float: left;
}

div.top_row_center_left img{
    margin-left: 15px;
    margin-right: 15px;
}

div.top_row_center_right{
    float: left;
    padding-top: 9px;
}

div.top_row_center_right_login{
    padding-bottom: 5px;
    text-align: right;
    width: 355px;
    padding-right: 96px;

}

div.top_row_center_right_search{
    text-align: left;
    width: 450px;
    padding-bottom: 3px;
}

div.top_row_center_right_login_links{
    float: left;
    width: 500px;
}

div.top_row_center_right_search_field{
    float: left;
    width: 350px;
}

div.top_row_center_right_search_button{
    float: left;
    margin-left: 8px;
}

div.top_row_center_right_search img{
    padding-left: 17px;
    position: relative;
    top: 2px;
}

div.top_row_center_right_language{

    text-align: left;
    padding-top: 3px;
    width: 335px;
}

div.top_row_center_right_layout{
    float: right;
    text-align: right;
    padding-top: 3px;
    padding-right: 100px;
    width: 115px;

}

div.top_row_center_right_selection_text{
    float: left;
    text-align: right;
    font-size: 12px;
    padding-top: 4px;
}

#user_options { list-style:none outside none; position: absolute; display: none; width: 130px; background: none repeat scroll 0 0 #EEEEEE; text-align: left; font-size: 11px; font-weight: bold; z-index: 9999; margin: 0px; padding: 0px;}
#user_options li { border: 2px outset #CCCCCC; padding-bottom: 1px; padding-top: 1px; }
#user_options li img { vertical-align: middle; }
#user_options li:hover { background: #0089CF; }
#user_options li a { color: #333333;padding-left: 2px; text-decoration: none;}
/*
#user_options li #user_options_sub_1 { display:none; position: absolute; }
*/
/* Middle section, content area */

div.middle_row{
    width: 748px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    min-height: 400px;
    padding: 0px;
    display: block;
    text-align: left;
    font-size: 12px;
}

/* Sub menu in top of the content area */
div.sub_menu{
    margin-top: 0px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 2px 0px 0px 0px;
    width: 748px;
    height: 48px;
    background-image: url('../images/menu_border.png');
    background-position: bottom left;
    background-repeat: repeat-x;
}

div.sub_menu_left{
    float: left;
    padding-left: 11px;
}

div.sub_menu_right{
    float: right;
    padding-left: 8px;
    padding-right: 1px;
}

div.sub_menu_right img{
    position: relative;
    top: 5px;
}

div.sub_menu_left_space{
    float: left;
    padding-left: 15px;
}

div.hidden_menu_row{
    width: 100px;
    float:left
}

div.sub_menu_right_space{
    float: right;
    padding-right: 15px;
}

div.sub_menu_item_red{
    background-image: url('../images/menu_border_red.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    font-weight: bold;
    float: left;
    height: 38px;
    max-width:60px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    color: #D21034;
}

div.sub_menu_item_green{
    background-image: url('../images/menu_border_green.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    font-weight: bold;
    float: left;
    height: 38px;
    max-width:35px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    color: #4B9B07;
}


div.sub_menu_item_yellow{
    background-image: url('../images/menu_border_yellow.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    font-weight: bold;
    float: left;
    height: 38px;
    max-width:60px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    color: #FFC726;
}

div.sub_menu_item_blue{
    background-image: url('../images/menu_border_blue.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    font-weight: bold;
    float: left;
    height: 38px;
    max-width:80px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    color: #0089CF;
}

div.sub_menu_item_deepblue{
    background-image: url('../images/menu_border_deepblue.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    font-weight: bold;
    float: left;
    height: 38px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    color: #003581;
}

#add_content_menu_challenge{
    background: #eeeeee;
    width: 126px;
    border-bottom: 1px solid #cccccc;
}

#add_content_menu_idea{
    background: #eeeeee;
    width: 126px;
    border-bottom: 1px solid #cccccc;
}

#add_content_menu_vision{
    background: #eeeeee;
    width: 126px;
}

div.hidden_menu_red{
    float:left;
    width: 17px;
    height: 17px;
    background: #D21034;
    margin-right: 6px;
}

div.hidden_menu_green{
    float:left;
    width: 17px;
    height: 17px;
    background: #4B9B07;
    margin-right: 6px;
}

div.hidden_menu_yellow{
    float:left;
    width: 17px;
    height: 17px;
    background: #FFC726;
    margin-right: 6px;
}

div.tag_filters_left{
    float:left;
    margin-bottom: -20px;
    padding-top: 3px;
}

/* The actual content area */

div.content{
    padding: 15px;
    margin-top: -2px;
}


div.content_menu{
    text-align: left;
    word-spacing: 15px;
    font-weight: bold;
    padding-bottom: 15px;
}

div.user_content_list{
    float: left;
    position: relative;
    top: -23px;
    margin-left: -1px;
    padding: 0px;
}

div.user_content_row{
    width: 500px;
    margin: 10px 0 10px 0;
}

div.linking_content {
    float: left;
    width: 500px;
    margin-bottom: 10px;
}

div.user_image_list{
    padding-left: 0px;
    padding-top: 8px;
    float: left;
}

div.mini_content_row{
    width: 160px;
    margin-left: -5px;
    margin-right: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}

div.mini_content_row a{
    font-size: 12px;
}

div.user_summary_list_with_stats{
    text-align: left;
    width: 300px;
    padding-left: 11px;
    padding-top: 6px;
    margin-bottom: -1px;
    float: left;
}

div.user_summary_list_without_stats{
    text-align: left;
    width: 420px;
    padding-left: 11px;
    padding-top: 6px;
    margin-bottom: -1px;
    float: left;
}

div.mini_content_row_stats{
    text-align: left;
    padding-left: 6px;
    width: 160px;
    float: left;
}

div.user_summary_stats{
    padding-top: 6px;
    font-size: 12px;
    width: 110px;
    float: left;
    text-align: left;
    padding-left: 10px;
}

div.user_content_spacer{
    padding-bottom: 0px;
    padding: 0px;
    margin: 0px;
    margin-left: -8px;
    padding-top: 0px;
}

div.user_content_spacer img{
    padding: 8px;
    margin-bottom: -6px;
    width: 98%;
}

div.tag_filters_left a{
    text-decoration: none;
}

div.tag_alphanum_row{
    margin-bottom: -6px;
}

/* Right side of the content area */

div.right_side{
    float: right;
    width: 205px;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    font-size: 12px;
    padding: 0px;
}

div.right_side p{
    padding: 5px 5px;
    padding-bottom: 0px;
    margin: 0px;
}

div.right_side_title_small{
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
    margin-bottom: 6px;
    margin-top: 8px;
}

div.top_right_box_links_users{
    font-size: 12px;
    padding-left: 2px;
    margin-top: -5px;
}

div.top_right_box_links_users ul {
    list-style-position: outside;
    list-style-type: none;
    padding-left: 2px;
}

div.massidea_dev_info{
    text-align: left;
    padding-top: 8px;
    font-weight: bold;
    font-size: 12px;
}

div.before_footer{
    padding-bottom: 6px;
}

div.top_right_box_links_show_all_users{
    margin-bottom: -4px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

div.tag_cloud{
    margin-top: 4px;
    width: 187px;
    margin-left: 0px;
    padding: 6px;
    border: 0px solid silver;
    font-size: 11px;
    overflow: hidden;
}

div.tag_cloud a {
    margin: 3px;
}

div.tag_cloud a:hover {
    background-color: #D9F2FF;
    margin: 3px;
}


div.top_right_box{
    border: 1px solid #cccccc;
    padding: 12px;
    background: #eeeeee;
    text-align: left;
    font-size: 12px;
    margin-right: 0px;
    margin-top: 0px;
    width: 175px;
}

div.top_right_box div { display:inline; }

div.top_right_box p{

    padding: 0px 0px 10px 0px;

}


div.user_listing_top_menu p{
    padding: 0px;
    margin: 0px;
    padding-top: 2px;
}

div.see_also_title{
    padding-top: 3px;
    padding-left: 6px;
    font-size: 14px;
    font-weight: bold;
}

div.see_also_links {
    margin-top: 3px;
    color: #0089CF;
    font-size: 12px;
    font-weight: bold;
}

div.see_also_links a{
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;
}

div.recent_campaigns_title a{
    padding-top: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #0089CF;
}

#right_side_content_container{
    border: 1px solid #cccccc;
    padding: 12px;
    background: #fff;
    text-align: left;
    font-size: 12px;
    margin-right: 0px;
    margin-top: 0px;
    width: 175px;
    height: 225px;
    overflow: auto;
}

/* The footer */

div.footer{
    text-align: center;
    color: #CCCCCC;
    width: 748px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background: white;
    padding-top: 0px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    height: 194px;
    display: block;
    font-size: 12px;
}

div.footer_links{
    width: 746px;
    text-align: center;
    word-spacing: 10px;
    font-size: 12px;
    color: #0089CF;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.footer_left{
    width: 47%;
    float: left;
}

div.footer_project_funded{
    text-align: left;
    padding-left: 30px;
}

div.footer_right{
    width: 47%;
    text-align: left;
    padding-left: 25px;
    float: left;
}

div.footer_project_coordinator{
    text-align: left;
}

div.footer_project_group{
    text-align: left;
    padding-bottom: 6px;
}

div.footer_bottom{
    height: 10px;
}

#footer {
    margin: 0 0 0 0;
}

div#footer img.image_line {
    margin: 0 0 0 14px;
}

div#footer span.link_text {
    word-spacing: 2px;
}

div#footer div#footer_left div#footer_funded {
    text-align: left;
    padding-left: 30px;
    margin-top: 10px;
    font-size: 11px;
}

div#footer div#footer_left img {
    padding-left: 16px;
}

div#footer div#footer_right div#footer_coordinator {
    text-align: left; 
    margin-top: 10px;
    font-size: 11px;
}

div#footer div#footer_right div#footer_group {
    text-align: left; 
    padding-bottom: 6px;
}

/* PARAGRAPH DEFINITIONS */

p.show_more{
    text-align:center;
    font-size: 18px;
    margin-top: 4px;
    font-weight: bold;
}

p.top_right_box_links_learn_more{
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    color: #0089CF;
}

/* ELEMENT ID DEFINITIONS */

#login_box{
    text-align: left;
    display: none;
    border: 1px solid #cccccc;
    background: #eeeeee;
    color: #333333;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding: 6px;
    padding-left: 8px;
    height: 213px;
    width: 288px;
}

#login_box input{
    width: 222px;
}

#login_box_openid{
    text-align: left;
    border: 1px solid #cccccc;
    color: #333333;
    display: none;
    background: #eeeeee;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding: 6px;
    padding-left: 8px;
    height: 123px;
    width: 268px;
}

#sign_up_now{
    font-size: 14px;
    text-align: center;
}

#add_content_menu{
    position: absolute;
    margin-top: 2px;
    overflow: visible;
    display: none;
    width: 126px;
    border: 1px solid #cccccc;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

#tags_link{
    margin-bottom: -6px;
    margin-top: -15px;
    padding-bottom: 0px;
    padding-left: 6px;
    font-weight: bold;
    font-size: 14px;
}

#show_all_tags{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

#most_active_users{
    margin-bottom: -6px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    font-weight: bold;
    font-size: 14px;
}

#project_groups{
    width:342px;
}

/* INPUT DEFINTIONS */

input.blue_button{
    background: #0089CF;
    font-weight: bold;
    color: white;
    border: 3px outset #003580;
}

input.top_search_field{
    width: 346px;
    margin-right: 0px;
    height: 18px;
    vertical-align: bottom;
}

/* SPAN DEFINTIONS */

span.summary_topic{font-family: Arial; font-size: 14px; color: #0089CF;}
span.summary_leadtext{font-family: Arial; font-size: 14px;}
span.summary_tags{font-family: Arial; font-size: 14px; color: #0089CF;}
span.summary_translatelink{font-family: Arial; font-size: 11px; color: #C0C0CB; display: block; margin-top: 3px;}

/** Private messages **/
/* ADDITIONAL DEFINITIONS TO VIEWS */
form#send_privmsg_form {
    margin-left: auto;
    margin-right: auto;
}

form#send_privmsg_form label { 
    font-weight: bold;
    display: block;
    float: left;
    width: 170px;
}

form#send_privmsg_form input:focus, form#send_privmsg_form textarea:focus{
    background-color: lightyellow;
}

.form_privmsg_row {
    margin-left: 10px;
    margin-top: 10px;
}

.form_privmsg_row label { 
    font-weight: bold;
    display: block;
    float: left;
    width: 170px;
}

div#privmsg_header {
    padding-top: 40px;
    margin-left: auto;
    margin-right: 20px;
    width: 120px;
    text-align: right;
}

div#privmsg_header a {
    color: #5C5C5C;
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}

div.privmsg {
    clear:both;
    display:block;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    min-height:150px;
    overflow: hidden;
    margin-bottom: 5px;
}

div.privmsg_userinfo {
    display: block;
    float: left;
    width: 9em;
    background: #e5e5e5;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
}

.privmsg_content {
    padding: 5px;
    float: left;
    position: relative;
    width:590px;
}

.privmsg_content .reply {
    position: absolute;
    right:0px;
    top: 5px;
}

p.privmsg_p {
    margin: 0px;
    padding: 0px;
}

/** LOGIN **/

#login_form_container dt {
    height: 0;
}
#login_form_container dd {
    margin: 0 5em 0em 0;
}
#login_form_container dt {
    margin: 0 0 0em 0;
}

#login_form_container h1 {
    padding: 0;
    margin: 0;
}
#login_form_container label { 
    font-weight: bold;
    display: block;
    float: left;
    width: 8em;
}

#login_form_container .login_form_element {
    margin: 0 0 1em 0;
}
/*
#login_form_container .form_element_left {
	width: 8em;
}

#login_form_container .form_element_right {
	margin: 0 0 0 1em;
}
*/
#login_form_container {
    margin: 2em 17em 2em 17em;
    padding: 1em;
    border: 1px solid #AAAAAA;
    background: #F8F8F8;
}

#login_form_container  p {
    padding: 0;
    margin: 0;
}

#login_form_container .zend_form {
    margin-bottom: 0.5em;
}

/* Add content */

#form_content_add_container dt {
    height: 0;
    margin: 0 0 0em 0;
}

#form_content_add_container dd {
    margin: 0 0 0em 0;
}

#form_content_add_container {
    margin: 0px;
    padding: 0px;
    border: 0px solid #AAAAAA;
    /*background: #F8F8F8;*/
    background: #FFFFFF;
    width: 500px;
}

#form_content_add_container .form_element_left {
    width: 10em;
}

#form_content_add_container .form_element_right {
    margin: 0 0 0 10em;
}

#form_content_add_container input[type="text"] {
    height: 18px;
}

#form_content_add_container .textlead {
    height: 5em;
}

#form_content_add_container .textbody {
    height: 15em;
}

#form_content_add_container input[type="text"],
#form_content_add_container textarea {
    width: 390px;
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid #7F9DB9;
}

#form_content_add_container select {
    width: 393px;
    float: left;
    margin: 0;
    padding: 0;
    border: 1px solid #7F9DB9;
}

form#add_content_form {
    margin: 0;
}

form#add_content_form label,
form#edit_content_form label { 
    font-weight: bold;
    /*border: 1px solid black;
	/*display: block;*/
    width: 100px;
    color: #808080;
}

form#add_content_form fieldset    { 
    padding: 1.4em;
    margin: 0 0 1.5em 0;
    border: none;
}

form#add_content_form legend      { 
    font-weight: bold;
    font-size:1.2em;
}

form#add_content_form input:focus, form#add_content_form textarea:focus{
    background-color: lightyellow;
}

div.add_content_helptext {
    /*margin-left: 170px;
    margin-bottom: 4px;
    width: 510px;*/
    font-size: 12px;
    float: right;
}

form#add_content_form .butan {
    font-weight: bold;
}

form#preview {
    margin-left: auto;
    margin-right: auto;
}

form#preview label { 
    font-weight: bold;
    display: block;
    float: left;
    width: 170px;
}

#form_preview_content {
    width: inherit;
    height: inherit;
    background-color: white;
    margin: -1em;
    display: none;
    padding-bottom: 20px;
}

.form_element {
    margin: 10px 0 10px 0;
    width: 500px;
}

.form_element .form_element_header {
    margin: 0 0 3px 0;
}

.form_element .form_element_input {
    position: relative;
}

.form_element_input .progress ul {
    margin: 0px;
    padding: 0px;
}

.form_element_input .progress li {
    list-style-type:none;
}

.form_element_helptext {
    display: block;
    float: right;
    margin: 0 110px 0 0;
    color: #808080;
}

form #uploadedFiles_div .form_element_input label {
    font-weight: normal;
}

.linkedto {
    height: 34px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}

.linkedwith {
    height: 105px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}

.linkedtotext {
    float: left; 
    padding-top: 9px; 
    padding-left: 6px; 
    padding-right: 6px; 
    color: #808080; 
    font-weight: bold;
}

.linkedtoimage {
    padding-top: 2px; 
    padding-right: 6px; 
    float: left;
}

.form_helptext {
    margin: 10px 0px 5px 0px;
}

.form_helptext_line {
    height: 1px;
    width:500px; 
    border-bottom: 1px dotted #D2DADA;
    margin: 0;
    padding: 0;
}

/*.form_element select{
    width: 390px;
}*/
/*
.form_element input{
    float: left;
}
*/
.form_addcontent_title_row {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 395px;
    float: left;
}

.form_addcontent_row {
    /*border: 1px solid blue;*/
    width: 600px;
}

.form_notifications {
    width: 500px;
}

#account_settings_form_container #submit-element {
    clear: both;
}

.form_notifications #notifications-label {
    clear: both;
    width: 350px;
    font-weight: normal;
}

.form_addcontent_row .progress ul {
    margin: 0px;
    padding: 0px;
}

.form_addcontent_row .progress li{
    list-style-type:none; 
    /*display:block;*/
}

.progress {
    width: 93px;
    #width: 81px; /* IE HACK :( */
    height: 22px;
     padding-left: 11px;
 
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    background: #FFCFCF;
    background-image: url('../images/icon_thumb_down.png');
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid #7F9DB9;
    border-left: none;
    float: left;
}

.progress_ok {
    width: 93px;
    #width: 81px; /* IE HACK :( */
    height: 22px;
    padding-left: 11px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    background: white;
    background-image: url('../images/icon_thumb_up.png');
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid #7F9DB9;
    border-left: none;
    float: left;
}

.popup_preview {
    position:absolute;
    background-color:#fff;
    width:580px;
    height:400px;
    z-index: 9002;
    padding: 10px;
    overflow-x: hidden;
    border: 2px double #C3C3C3;
}

/* Pop-ups */
#backdrop {
    display: none;
    position: fixed;
    background-color: #000000;
    opacity: 0.65;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
}

.popup_terms {
    position: fixed;
    background-color:#fff;
    width:600px;
    height:70%;
    z-index: 9002;
    padding: 10px;
    overflow-y: auto;
    border: 2px double #C3C3C3;
    margin: -150px;
    top: 170px;
    left: 40%;
}

.popup_close {
    padding: 0px;
    width: 590px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

/* tagitavaraa -joel */
#tag_cloud_container_tags a:link,
.tag_alphanum_row a:link, 
.tag_filters_row a:link {
    text-decoration: none;
}

#tag_cloud_container_tags a {
    padding: 3px;
    text-decoration: none;
}
#tag_cloud_container_tags a:hover {
    background-color: #D9F2FF;
    text-decoration: none;
    padding: 3px;
}


.content_view_references span,
.content_view_files span,
.content_view_core_content span
{ font-weight: bold; font-size: 14px; }

.content_view_content_modified p { font-style: italic; }

.content_view_linked_content_extra { display: none; }
#content_view_linked_content_challenges_more,
#content_view_linked_content_visions_more { cursor: pointer; vertical-align: middle; }


/** comment stuff **/
#content_view_comment_form_container {
    margin: 1em 0 0 0;
}

#content_view_comment_form_container dt {
    display: block;
    float: left;
    /*width: 5em;*/
    font-weight: bold;
    color:#A7A7A7;
}

#content_view_comment_form_container dd {
    /*width: 10em;*/
    margin: 0.5em 0 0 0;
}

.comment_textarea {
    overflow-y: scroll; 
}

#submit-label, #comment_message-label {
    display: none;
    width: 0;
}

#content_view_comments {
    width: 480px;
    overflow: hidden;
}

.content_view_comment_container_0 {
    margin: 0 0 1em 0;
}

.content_view_comment_container_1 {
    margin: 0 0 1em 2em;
}

.content_view_comment_container_2 {
    margin: 0 0 1em 4em;
}

.content_view_comment_container_3 {
    margin: 0 0 1em 6em;
}
.content_view_comment_header {
    background: #CCCCCC;
    height: 2em;
}

.content_view_comment_container_1 .content_view_comment_header,
.content_view_comment_container_2 .content_view_comment_header,
.content_view_comment_container_3 .content_view_comment_header {
    background: #EEEEEE;
}

.content_view_comment_username {
    color: #0089CF;
    font-weight: bold;
}

.content_view_comment_username, .content_view_comment_date {
    float: left;
    margin: 0.5em;
}

.content_view_comment {
    margin: 0.5em 0 0 1em;
}

.content_view_comment_textbody .quote {
    margin: 0 0 0 2em;
    font-style: italic;
}

.content_view_comment_reply {
    float: right;
    margin: 0.5em 1em 0.5em 1em;
    font-weight: bold;
}

#content_view_comments_header {
    margin: 1em 0 1em 0;
}

#content_view_comment_pagination, #content_view_content_pagination {
    display: block;
    font-size: 10pt;
}

#account_profile_user_content_container {
    width: 520px;
}

#account_profile_user_content_tab_bar {
    margin: 0 0 5px 0;
    padding: 0;
}

#account_profile_user_content_tab_bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#account_profile_user_content_tab_bar ul li{
    display: inline;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border: 1px solid #AAAAAA;
    margin: 0 0 0 10px;
    color: #FFFFFF;
}

#account_profile_user_content_tab_bar ul li a{
    color: #FFFFFF;
}

#account_profile_user_content_type {
}

#account_profile_user_content_tab_bar ul li#account_profile_user_content_type_all {
    color: #000000;
}

#account_profile_user_content_tab_bar ul li#account_profile_user_content_type_all  a{
    color: #000000;
}

#account_profile_user_content_type_challenges {
    background: #D21034;
}

#account_profile_user_content_type_ideas {
    background: #4B9B07;
}

#account_profile_user_content_type_visions {
    background: #FFC726;
}

#account_profile_user_content_tab_bar ul li#account_profile_user_content_type_saved {
    color: #000000;
}

#account_profile_user_content_tab_bar ul li#account_profile_user_content_type_saved  a {
    color: #000000;
}

#account_profile_user_content_tab_bar ul li.selected {
    border-bottom: 1px solid #FFFFFF;    
}

#account_profile_user_content_list {
    border: 1px solid #AAAAAA;
    margin: 0;
    padding: 10px;
    height: 300px;
    overflow: auto;
}

#help_container {
    display: table;
}

#help_sidebar {
    display: table-cell;
    width: 200px;
}

#help_sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#help_sidebar ul li {
    margin: 0 0 20px 0;
}

#help_content {
    display: table-cell;
    width: 448px;
    padding: 0 0 0 20px;

}
.form_userlist_element .form_userlist_element_label {
    float: left;
    margin: 0 1em 0 0;
    width: 8em;
}
.form_userlist_content_count_element .form_userlist_select_element .form_userlist_select_label {
    width: 8.5em;
}

.form_userlist_content_count_element .form_userlist_select_element .form_userlist_select_label,
.form_userlist_content_count_element .form_userlist_select_element .form_element_select_input,
.form_userlist_content_count_element .form_userlist_content_element .form_element_content_input {
    float: left;
    margin: 0 0.5em 0 0 ;
}

.form_element_content_input input {
    width: 55px;
}

.form_userlist_content_count_element {
    margin: 0 0 1.5em 0; 
}

.form_userlist_element {
    margin: 0 0 1em 0;    
    clear: left;
}

#user_list_top {
    display:inline-block;
    width:100%;
    padding-top:2px;
}

#user_list_search_form {
    float:left;
    width:61%;
    padding: 10px;
    padding-right: 5px;
    padding-bottom: 30px;
    margin-right: 15px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #CCCCCC;
    height: 100%;
}

.user_list_title {
    color:#AAAAAA;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display:block;
}

#user_list_search_form span {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

#account_user_list_container {
    margin: 2em 0 0 0;
}


#user_list_search_instructions {
    float:left;
    width:33%;
}

.user_list_input_box_meta {
    font-weight: bold;
    float:right;
}

.user_list_input_box_meta img,
.user_list_profile_rating img {
    vertical-align: middle;
}

.user_list_positive_icon {
    color: green;
}

.user_list_negative_icon {
    color: red;
}

.user_list_input_box_lead {
    margin-left:0.5em;
    padding-left:2px;
}
.user_list_input_box_title {
    padding-left:2px;
}

#user_list_user_pagination_top {
    margin-top:6px;
}

.user_list_users_latest_content {
    padding-bottom:2px;
}

.user_list_users_latest_content span span {
    padding-left:2px;
}

.user_list_users_latest_content_created {
    padding-right:10px;
    float:right;
}

.user_list_user_container {
    display: table;
    margin: 0 0 2em 0;
    border-bottom: 1px dotted #DDDDDD;
    width: 100%;
}

.user_list_user_container div {
    display:inline-block;
}

.user_list_user_container div .user_list_user_line { display: block; }

.user_list_right_side {
    vertical-align: top;
}

.user_list_moreless {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    padding-right: 15px;
}
.user_list_user_line a {
    text-decoration: none;
}

.user_list_user_info {
    width: 600px;
    vertical-align: top;
}

.user_list_sort {
    font-size: 14px;
}

.user_list_user_info div img {
    vertical-align: middle;
}

.user_list_right_side
.user_list_username,
.user_list_city,
.user_list_country { font-size: 14px; font-weight: bold; }

.user_list_content_type_finfo,
.user_list_content_type_idea,
.user_list_content_type_problem { font-size: 14px; font-weight: bold; }

.user_list_rating,
.user_list_rating_amount,
.user_list_statistics_line,
.user_list_last_login,
.user_list_statistics,
.user_list_recet_contents_title,
.user_list_no_content { color: #B0B0B0; }

.user_list_statistics_title,
.user_list_recet_contents_title { font-weight: bold; }

.user_list_last_login { float:right; padding-top:1px; }

.user_list_user_info a { text-decoration: none; }

.user_list_content_title { font-size: 14px; }

.user_list_user_info_second {
    width:440px;
    vertical-align: top;
}

.user_list_user_image {
    width: 100px;
}

.user_list_content_type_finfo { color: #FFC726; }
.user_list_content_type_idea { color: #4B9B07; }
.user_list_content_type_problem { color: #D21034;  }

.user_list_top_box_runnerups_line { display: block; padding-bottom: 3px; }
.user_list_top_box_runnerups_line div { display: inline; }
.user_list_top_box_right { padding: 5px; }
.user_list_top_box_left { padding-right: 5px; }
.user_list_top_box_left p { margin: 0px; }
.user_list_top_box { margin-bottom: 5px; width: 220px; vertical-align: top; background-color: #EEEEEE; }
.user_list_top_box_title { font-size: 18px; font-weight: bold; padding-bottom: 5px; padding: 5px; }
.user_list_top_box_runnerups { font-weight: bold; margin-bottom: 5px; }
.user_list_top_box_runnerups_title_name { padding-left: 13px; }
.user_list_top_box_runnerups_title_points, .user_list_top_box_runnerups_value { float: right; }
.user_list_top_box_runnerups_rank { font-weight: bold; float:left; width: 20px; }
.user_list_top_box_description { text-align:center; font-weight: bold; font-size: 14px; }
.user_list_top_box_user { font-size: 18px; text-align:center; font-weight: bold; padding-top: 4px; }
.user_list_top_box_image { text-align:center; min-width: 200px; min-height: 200px; }
.user_list_top_box_image img { min-width: 200px; min-height: 200px;  }
.user_list_top_box_show_more { width:16px; margin-left:auto; margin-right:auto; margin-top: 5px; }
.user_list_top_list_title span { font-size: 24px; font-weight: bold; color:#AAAAAA; }
.user_list_top_list_title a { vertical-align: middle; height: 24px; }
.user_list_top_list_title { margin: 10px 25px 5px 0px; }
#user_list_top_list_show { text-align:left; font-size: 14px; font-weight: bold; padding-top: 5px;}
#user_list_top_list_show img { vertical-align: bottom; }
.user_list_top_box_bottom { text-align: center; }
.user_list_top_column { display: inline-block; padding-bottom: 5px; vertical-align: top; }
#user_list_hall_of_fame { font-size: 28px; margin: 0px; font-weight: bold; color: #AAAAAA; text-align: center; }

#view_content_left_header_top_add_this {
    float: left;
    margin: 0 0 0 1em;
}

#content_production_container {
    clear: both;
}

#content_production_container_left {
    width: 500px;
    margin: 0 20px 0 0;
}

.content_production_left_paragraph {
    border-bottom: 1px dotted #DDDDDD;
    margin: 0 0 5px 0;
}

.content_production_guidelines_image {
    float: left;
    margin: 0 2em 0 0;
}

.content_production_left_paragraph_small {
    float: left;
    width: 145px;
    margin: 0 10px 5px 10px;
    border-bottom: 1px dotted #DDDDDD;
    height: 250px;
}

.content_production_left_paragraph_small a{

}

.content_production_left_paragraph_small .problem {
    border-bottom: 5px solid #D21034;
}

.content_production_left_paragraph_small .idea {
    border-bottom: 5px solid #4B9B07;
}

.content_production_left_paragraph_small .finfo {
    border-bottom: 5px solid #FFC726;
}

#content_production_container_right {
    width: 200px;
    float: right;
}

#content_production_right_box {
    background: #EEEEEE;
    border: 1px solid #D6D6D6;
    padding: 10px;
    margin: 5px 0 0 0;
}


/*
 * User thumbnail dimensions
 *
*/

.profile_image_nativesize {
    width: 180px;
    height: 180px;
}

.profile_image_mediumsize {
    width: 85px;
    height: 85px;
}

.profile_image_smallsize {
    width: 48px;
    height: 48px;
}

.smallsize_problem_border {
    border-left: 6px solid #D21034;
}

.smallsize_idea_border {
    border-left: 6px solid #4B9B07;
}

.smallsize_finfo_border {
    border-left: 6px solid #FFC726;
}

/*
 * RSS decorations
 *
*/

#rss_index_description {
    background: url("../images/icon_rss_64x64.png") 0px 8px no-repeat;
    border-bottom: 1px dotted #979797;
    margin: 30px 6px 20px 6px;
    padding: 5px 75px 10px 75px;
}

#rss_index_table {
    border-bottom: 1px dotted #979797;
    padding-bottom: 10px;
}

#rss_index_table .rss_index_box {
    margin: 6px;
    padding: 5px;
    margin-left: 80px;
    margin-right: 80px;
}

#rss_index_table .rss_index_box img {
    vertical-align: middle;
    padding-right: 6px;
}

#rss_index_table .rss_index_box span {
    margin-left: 10px;
    font-weight: bold;
}


#rss_index_problemcolor {
    color: #D21034;
}

#rss_index_ideacolor {
    color: #4B9B07;
}

#rss_index_finfocolor {
    color: #FFC726;
}

.clear {
    clear: both;
}

/*
 * Admin tools decorations
*/

#admin_comment_flags_table {
    border: 1px solid #000;
    border-spacing: 0px;
    padding: 2px;
    width: 100%;
}
#admin_comment_flags_table td {
    padding: 2px;
}

#admin_comment_flags_table #desc_tr {
    background-color: #ccc;
    color: #000;
}

#admin_comment_flags_table .desc_td_checkbox {
    width: 15px;
}

#admin_comment_flags_table .item_tr:nth-child(odd) {
    background-color: #eee;
    color: #000;
}

/**
 * Test
 * 
 * 
*/
.problemLine, .ideaLine, .finfoLine {
    display: block;
    float: left;
    vertical-align: center;
    width: 4px;
    height: 30px;
    margin: 2px 6px 2px 0;
}

.problemLine {
    background: #D21034;
}

.ideaLine {
    background: #4B9B07;
}

.finfoLine {
    background: #FFC726;
}

.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /*
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /*
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
    line-height: 16px;
    overflow: hidden;
}

.ac_results .user_list_input_box_title strong,
.ac_results .user_list_input_box_lead strong {
    color: red;
}

.ac_loading {
    background: white right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}

/*
 * Privacy - register description
 * Terms - Network Services Agreement
 * (used for both popups)
*/
div.privacy {
    font-family: Arial, Times New Roman;
    color: #232323;
    clear: both;
    padding-top: 10px;
}
div.privacy h1 { margin: 0px 0px 9px 0px; font-size: 23px; }
div.privacy h2 { margin: 20px 0px 6px 0px; font-size: 18px; }
div.privacy h3 { margin: 12px 0px 4px 0px; font-size: 16px; }
div.privacy p { margin: 2px 0px 3px 6px; font-size: 14px; line-height: 15px; }
div.privacy li { padding-bottom: 0px; margin: 2px 0px 3px 0px; font-size: 14px; lin-height: 15px; }
.first_tag { display: inline; color: #003581; margin-left: 5px;}
.second_tag { display: inline; margin-left: 5px;}
#campaigns h3 { font-size:1.2em; margin:3px 3px 8px 0px; padding:0px; background:none;}
#campaigns p { margin:15px 0px 20px 15px; }
#campaigns ul { margin:-8px 0px; padding:0px;}
#campaigns ul li {
    background:transparent url("../images/gray_dot_line_200.png") bottom no-repeat;
    padding:5px 0px 5px 2px;
    list-style:none;}
#campaigns ul li span { padding:0; display:block;}


/*
 * Fetchpassword
*/
.fetchpassword-submit {
    margin-left: 4px;
    margin-top: -1px;
}
p.fetchpassword-no-error {
    width: 430px;
    margin-bottom: 0px;
}
p.fetchpassword-error {
    font-weight: bold;
    width: 430px;
}

.user_content_edit { float:right;  }
.user_content_edit ul { border: 1px solid #999; list-style:none outside none; position: absolute; display: none; width: 160px; background: none repeat scroll 0 0 #EEEEEE; text-align: left; font-size: 11px; font-weight: bold; z-index: 9999; margin: 0px; padding: 0px; }
.user_content_edit ul li { border: 2px outset #CCC; padding: 2px; } 
.user_content_edit ul li img { vertical-align: middle; }
.user_content_edit ul li:hover { background: #0089CF; }
.user_content_edit ul li a:hover { color: #333 !important }
.user_content_edit ul li a { color: #333333 !important; padding-left: 2px; text-decoration: none;}

#content_view_favourite { padding-bottom: 2px; }
#content_view_favourite div { display:inline; }

#search-top img { vertical-align: bottom; margin-bottom: -3px;}
