#content #group-page #group-info {
	margin:0 0px 0px 0px;
	padding:0px 0px 8px 0px;
	background:transparent url("../images/gray_dot_line_500.png") bottom no-repeat; }
#content #group-page .scroll-box li {
    
}
#content #campaign-page p.link, #content #campaign-page #contribute .right a {font-size: 1.4em}

#content #group-page #edit-group-etc {
    color:#c0c0c0;
    font-size:1.4em;
    width: 100%;
    text-align: right;
    padding-top: 10px;
}

#content .campaign-status { color: #C0C0C0; font-size: 12px; }

#content #current-posts .scroll-box .photo.ideas { border-left:5px solid #4B9B07 !important; width:48px; height:48px; float:left; }
#content #current-posts .scroll-box .photo.visions { border-left:5px solid #FFC726 !important; width:48px; height:48px; float:left; }
#gaccampaignlist { float:left; width:520px; }
#gaccampaignlist h3, #gaccampaignlist h2 { color: #C0C0C0; font-size: 16; font-weight: bold; }
#content .campaign-list p,
#content .group-list p { fdsmargin-left:15px; }
#content .campaign-list ul li,
#content .group-list ul li {
margin:8px 30px 0px 0px;
padding:0px 0px 10px 0px;
list-style:none;
background:transparent url("../images/gray_dot_line_500.png") no-repeat bottom;}
#content .campaign-list ul li p,
#content .group-list ul li p { display:block; padding:2px 2px 2px 0px; margin:0px; }
#content .campaign-list ul li span.left,
#content .group-list ul li span.left { width:200px !important; margin:3px 0px 0px 0px; }
#content .campaign-list ul li span.right,
#content .group-list ul li span.right {width:200px !important; text-align:right; margin:5px 0px 0px 0px;   }

#gacsidebar { float:right; width:200px; }
#gacsidebar .box h2 { font-size:1.2em; margin:3px 3px 4px 0px; padding:0px; background:none;}
#gacsidebar .box-content { background:#f2f2f2;font-size:.9em; border:1px solid #ccc; padding:10px 15px;}
#gacsidebar #groups p { margin:15px 0px 20px 15px; }
#gacsidebar #groups ul { margin:-8px 0px; padding:0px;}
#gacsidebar #groups ul li {
    background:transparent url("../images/gray_dot_line_200.png") bottom no-repeat;
    padding:5px 0px 5px 2px;
    list-style:none;}
#gacsidebar #groups ul li span { padding:0px 0px 0px 0px; display:block; }

#content #create-group-page .input-column1 { width:144px; float:left; text-align:right; margin-right:10px; margin-bottom:8px; }
#content #create-group-page .input-column2 { width:254px; float:left;  margin-right:20px;  margin-bottom:8px; }
#content #create-group-page .input-column3 { width:60px; float:left;  margin-bottom:8px; }
#content #create-group-page textarea,
#content #create-group-page input {  width:255px; padding:2px; }
#content #create-group-page textarea { height:177px; }

#content #create-group-page #save_changes {
	background:transparent url("../images/gray_dot_line_500.png") top no-repeat;
	text-align:center;
	padding:10px 0px 20px 0px;
	margin-top:10px; }

#content #create-group-page #save_changes input#save-group,
#content #create-group-page #save_changes input#cancel { width:100px; }

#content #create-group-page .required { padding:0px; display:inline; color:red; }
#campaigns h3 { font-size:1.2em; margin:3px 3px 8px 0px; padding:0px; background:none;}
#right_side #campaigns p { margin:15px 0px 20px 15px; }
#right_side #campaigns ul { margin:-8px 0px; padding:0px;}
#right_side #campaigns ul li {
    background:transparent url("../images/gray_dot_line_200.png") bottom no-repeat;
    padding:5px 0px 5px 2px;
    list-style:none;}
#right_side #campaigns ul li span { padding:0px 0px 0px 8px; display:block; border-left:5px solid #0089CF;}
.progress {
    background: #FFCFCF;
    background-image: url('../images/icon_thumb_down.png');
    background-position: left;
    background-repeat: no-repeat;
    text-indent: 20px;
    width: 260px;
}
.progress_ok {
    background: white;
    background-image: url('../images/icon_thumb_up.png');
    background-position: left;
    background-repeat: no-repeat;
    text-indent: 20px;
}
#content #user-page #activity .left { width:200px; float:left !important; }
#content #user-page #activity .right { width:500px; float:right; }
#content #user-page #activity .wide { width:720px; float:left;}

#my-custom-layout .scroll-box {
	height: 385px;
}

#my-reads .scroll-box ul li {
	margin: 5px 5px 5px 5px;
	padding-bottom: 5px;
}

.reader_user .photo {
	width: 48px;
	display: inline;
}

.reader_user .photo img {
	width: 48px;
}

.reader_user .context {
	min-height: 48px;
	display: inline;
	vertical-align: top;
	padding-left: 5px;
}


#my-views .scroll-box {
	overflow-x: hidden;
}

div.user_content_row{
	width: 500px;
    /*border-bottom: 1px dotted #DDDDDD;
    margin: 10px 0 10px 0; */
    padding-left: 5px;
}

div.user_image_list{
	padding-left: 0px;
	padding-top: 8px;
	float: left; 
}

div.user_summary_list_with_stats{
	text-align: left;
	width: 300px;
	padding-left: 11px;
	padding-top: 6px;
	margin-bottom: -1px;
	float: left;
}

div.user_summary_list_without_stats{
	text-align: left;
	width: 420px;
	padding-left: 11px;
	padding-top: 6px;
	margin-bottom: -1px;
	float: left;
}

.profile_image_smallsize {
	width: 48px;
	height: 48px;
}

.smallsize_problem_border {
    border-left: 6px solid #D21034;
}

.smallsize_idea_border {
    border-left: 6px solid #4B9B07;
}

.smallsize_finfo_border {
    border-left: 6px solid #FFC726;
}

#content #add-content-page #Createacampaign .input-column-website1,
#content #add-content-page #add_group_form .input-column-website1 {  width:119px; float:left; text-align:right; margin-right:10px; margin-bottom:8px; }
#content #add-content-page #Createacampaign .input-column-website2,
#content #add-content-page #add_group_form .input-column-website2 { width:120px; float:left;  margin-right:15px;  margin-bottom:8px; }
#content #add-content-page #Createacampaign .input-column-website3,
#content #add-content-page #add_group_form .input-column-website3 {  width:120px; float:left;  margin-bottom:8px; }

#content #add-content-page #add_group_form select { width: 384px; margin-top: 6px; }

#content #add-content-page #Createacampaign .input-column-website2 input,
#content #add-content-page #add_group_form .input-column-website2 input { width:120px; }
#content #add-content-page #Createacampaign .input-column-website3 input,
#content #add-content-page #add_group_form .input-column-website3 input { width:120px; }

#content #add-content-page #Createacampaign #campaign_start,
#content #add-content-page #Createacampaign #campaign_end { width: 328px; }
#content #add-content-page #Createacampaign .ui-datepicker-trigger { margin: 2px 0 2px 2px; }


.linking {
    float: left;
	width: 500px;
    margin-bottom: 10px;
}
.linking_header {
    color: #C0C0C0;
}
.linking_paragraph, leaving_paragraph {
    margin: 4px 10px 4px 10px;
    font-size: 14px;
}
#linked_to {
    border: 1px solid #CCCCCC;
    overflow: hidden;
    margin-bottom: 10px;
}
#linked_to_where {
    float: left;
}
.linked_to_where_campaign, .linked_to_where_group,
.linked_to_where_problem, .linked_to_where_finfo, .linked_to_where_idea,
.linked_to_where_challenge, .linked_to_where_visions, .linked_to_where_ideas {
    margin-left: 80px;
}
.linking_help_text {
    color: #808080;
    margin: 10px 0 8px 15px;
}
.linking_dot_line, .leaving_dot_line {
    height: 1px;
    width:500px;
    border-bottom: 1px dotted #D2DADA;
    margin: 6px 0 6px 0;
    padding: 0;
}
.linking_from, .leaving_from {
    
}
.linking_from_name, .leaving_from_name {
    float: left;
    width: 430px;
}
.leaving_from_name {
    margin-bottom: 5px;
}
.linking_from_campaign, .linking_from_group,
.linking_from_problem, .linking_from_finfo, .linking_from_idea,
.linking_from_challenge, .linking_from_visions, .linking_from_ideas,
.leaving_from_campaign {
    
}
.linking_from_campaign, .linking_from_group, .leaving_from_campaign,
.linked_to_where_campaign, .linked_to_where_group {
    
}
.linking_from_problem, .linking_from_challenge,
.linked_to_where_problem, .linked_to_where_challenge {
    border-left: 5px solid #D21034;
}
.linking_from_finfo, .linking_from_visions,
.linked_to_where_finfo, .linked_to_where_visions {
    border-left: 5px solid #FFC726;
}
.linking_from_idea, .linking_from_ideas,
.linked_to_where_idea, .linked_to_where_ideas {
    border-left: 5px solid #4B9B07;
}
.linking_from_text, leaving_from_text {
    margin: 4px 0 4px 20px;
}
.linking_from_link {
    margin-top: 4px;
}

li.linked_campaigns, li.linked_groups {
    list-style-type: none;
    margin-top: 4px;
}

#leave_confirm {
    width: 500px;
    float: left;
    margin-bottom: 10px;
}
#leave_confirm_groups {

}

#group_waiting_list {
    float: left;
	width: 500px;
    margin-bottom: 10px;
}
.group_waiting_list_table {
    width: 500px;
    margin-top: 10px;
    border-spacing: 0;
}
.group_waiting_list_user_accept, .group_waiting_list_user_deny, .group_waiting_list_user_ignore,
.group_waiting_list_user_img, .group_waiting_list_user_name {
    padding: 4px;
    border-top: 1px black dotted;
}
.group_waiting_list_user_accept_all, .group_waiting_list_user_deny_all {
    padding: 4px;
}
.group_waiting_list_user_accept {
    width: 80px;
}
.group_waiting_list_user_deny {
    width: 80px;
}
.group_waiting_list_user_ignore {
    width: 80px;
}
.group_waiting_list_user_img {
    width: 50px;
}
.group_waiting_list_user_name {
    width: 210px;
}

#commentTextarea {
	width: 498px;
	margin-top: 10px;
}

#content_view_comments_header {
	margin:1em 0;
}

.content_view_comment_header {
	height: 2em;
	background:#CCCCCC none repeat scroll 0 0;
}

.content_view_comment_username, .content_view_comment_date {
	float:left;
	margin:0.3em;
}

.content_view_comment_username {
	color:#0089CF;
	font-weight:bold;
}

.content_view_comment_reply {
	float:right;
	font-weight:bold;
	margin:0.3em 1em;
}
.content_view_comment_container_0 {
    margin: 0 0 1em 0;
}

.content_view_comment_container_1 {
    margin: 0 0 1em 2em;
}

.content_view_comment_container_2 {
    margin: 0 0 1em 4em;
}

.content_view_comment_container_3 {
    margin: 0 0 1em 6em;
}

.content_view_comment {
	margin:0.3em 0 0 1em;
}

#content_view_comment_form_container {
	margin:1em 0 0;
}

a#cancel_reply_link {
	padding: 0;
	margin: 0;
	float: left;
}
p#replying_to {
	padding-right: 5px;
	margin: 0;
	float: left;
}

#reply_body {
	padding-right: 5px;
	margin: 0;
	
}

.content_view_comment_container_1 .content_view_comment_header, .content_view_comment_container_2 .content_view_comment_header, .content_view_comment_container_3 .content_view_comment_header {
	background:#EEEEEE none repeat scroll 0 0;
}

.content_view_comment_header {
	background:#CCCCCC none repeat scroll 0 0;
	height:2em;
}

.rss-reader { border: 1px solid #CCCCCC;}
.rss-reader ul { margin: 5px !important; }
.rss-item { border-bottom: 1px dotted #CCCCCC; padding: 3px;}
#rss-list-feeds #feeds { width: 450px; }
#rss-input-feed-url { width: 405px; }
#rss-input-feed-add { margin-left: 5px; }

.campaign_list_paragraph {
    font-size: 12px;
    color: #C0C0C0;
}
.campaign_list_paragraph strong {
    font-size: 14px;
}

#user-page #activity DIV#content_type {
	margin-bottom: -3px;
}

.first_tag { color: #003581; }
.second_tag { }

.user_content_edit ul { border: 1px solid #999; list-style:none outside none; position: absolute; display: none; width: 160px; background: none repeat scroll 0 0 #EEEEEE; text-align: left; font-size: 11px; font-weight: bold; z-index: 9999; margin: 0px; padding: 0px; }
.user_content_edit ul li { border: 2px outset #CCC; padding: 2px; } 
.user_content_edit ul li img { vertical-align: middle; }
.user_content_edit ul li:hover { background: #0089CF; }
.user_content_edit ul li a:hover { color: #333 !important }
.user_content_edit ul li a { color: #333333 !important; padding-left: 2px; text-decoration: none;}

/* more from boxi */
#content_view_user_related_container, 
#content_view_related_content_container,
#content_view_related_campaign_container {
	margin: 0 0 1em 0;
}
#content_view_user_related, 
#content_view_content_related,
#content_view_campaign_related {
    border:1px solid #CCCCCC;
	padding: 0.5em 0.5em;
	font-size: 10pt;
	max-height: 200px;
	overflow-x: hidden;
}

.content_view_user_related_entry_idea, 
.content_view_user_related_entry_problem,
.content_view_user_related_entry_futureinfo, 
.content_view_user_related_entry_finfo, 
.content_view_content_related_entry_idea, 
.content_view_content_related_entry_problem,
.content_view_content_related_entry_futureinfo, 
.content_view_content_related_entry_finfo {
	padding: 0 0 0 5px;
	margin-top: 3px;
    margin-bottom: 2px;
	min-height: 10px;
    clear: both;
    font-size: 80%;
}

.content_view_user_related_entry_idea, .content_view_content_related_entry_idea {
	border-left: 0.5em solid #4b9b07;
}

.content_view_user_related_entry_problem, .content_view_content_related_entry_problem {
	border-left: 0.5em solid #d21034;
}

.content_view_user_related_entry_finfo, .content_view_content_related_entry_finfo {
	border-left: 0.5em solid #ffc726;
}

#content_view_user_related_header,  
#content_view_related_content_header,
#content_view_related_campaign_header {
	height: 20px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 14px;
}

.content_rating_positive {
	padding-right: 2px;
	color: green;
	font-weight:bold;
	display:inline;
}

.content_rating_negative {
	padding-right: 2px;
	color: red;
	font-weight:bold;
	display:inline;
}

#content_view_content_rating_total {
	padding-right: 2px;
	display:inline;
}

#content_view_content_rating {
	padding: 1px;
}

.content_view_content_vote {
	padding-right: 2px;
	display:inline-block;
	vertical-align: middle;
}

div#my-views div.scroll-box ul li div.user {
	padding: 0 !important; 
	margin: 0 !important;
	background: none !important;	
}

div#progressbar_content_language {
	margin: 0 !important;	
}

#content #add-content-page #add_content_form label input {
	margin-right: 5px;
	margin-left: 5px;
	width:auto !important;
	float:none !important; 
}
	
.form_userlist_element .form_userlist_element_label {
    float: left;
    margin: 0 1em 0 0;
    width: 8em;
}
.form_userlist_content_count_element .form_userlist_select_element .form_userlist_select_label {
    width: 8.5em;
}

.form_userlist_content_count_element .form_userlist_select_element .form_userlist_select_label,
.form_userlist_content_count_element .form_userlist_select_element .form_element_select_input,
.form_userlist_content_count_element .form_userlist_content_element .form_element_content_input {
    float: left;
    margin: 0 0.5em 0 0 ;
}

.form_element_content_input input {
	width: 55px;
}

.form_userlist_content_count_element {
    margin: 0 0 1.5em 0; 
}

.form_userlist_element {
    margin: 0 0 1em 0;    
    clear: left;
}

#user_list_top {
	display:inline-block;
	width:100%;
	padding-top:2px;
}

#user_list_search_form {
	float:left;
	width:60%;
	padding: 10px;
	padding-right: 5px;
	padding-bottom: 30px;
	margin-right: 15px;
	background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #CCCCCC;
    height: 100%;
}

.user_list_title {
	color:#AAAAAA;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
	display:block;
}

#user_list_search_form span {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

#account_user_list_container {
    margin: 2em 0 0 0;
}


#user_list_search_instructions {
	float:left;
	width:35%;
}

.user_list_input_box_meta {
	font-weight: bold;
	float:right;
}

.user_list_input_box_meta img,
.user_list_profile_rating img {
	vertical-align: middle;
}

.user_list_positive_icon {
	color: green;
}

.user_list_negative_icon {
	color: red;
}

.user_list_input_box_lead {
	margin-left:0.5em;
	padding-left:2px;
}
.user_list_input_box_title {
	padding-left:2px;
}

#user_list_user_pagination_top {
	margin-top:6px;	
}

.user_list_users_latest_content {
	padding-bottom:2px;	
}

.user_list_users_latest_content span span {
	padding-left:2px;	
}

.user_list_users_latest_content_created {
	padding-right:10px;
	float:right;
}

.user_list_user_container {
    display: table;
    margin: 0 0 2em 0;
    border-bottom: 1px dotted #DDDDDD;
    width: 100%;
}

.user_list_user_container div {
	display:inline-block;
}

.user_list_user_container div .user_list_user_line { display: block; }

.user_list_right_side {
	vertical-align: top;
}

.user_list_moreless {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	padding-right: 15px;
}
.user_list_user_line a {
	text-decoration: none;
}

.user_list_user_info {
	width: 600px;
    vertical-align: top;
}

.user_list_sort {
	font-size: 14px;
}

.user_list_user_info div img {
	vertical-align: middle;
}

.user_list_right_side
.user_list_username,
.user_list_city,
.user_list_country { font-size: 14px; font-weight: bold; }

.user_list_content_type_finfo,
.user_list_content_type_idea,
.user_list_content_type_problem { font-size: 14px; font-weight: bold; }

.user_list_rating,
.user_list_rating_amount,
.user_list_statistics_line,
.user_list_last_login,
.user_list_statistics,
.user_list_recet_contents_title,
.user_list_no_content { color: #B0B0B0; }

.user_list_statistics_title,
.user_list_recet_contents_title { font-weight: bold; }

.user_list_last_login { float:right; padding-top:1px; }

.user_list_user_info a { text-decoration: none; }

.user_list_content_title { font-size: 14px; }

.user_list_user_info_second {
	width:440px;
    vertical-align: top;
}
 
.user_list_user_image {
    width: 100px;
}

.user_list_content_type_finfo { color: #FFC726; }
.user_list_content_type_idea { color: #4B9B07; }
.user_list_content_type_problem { color: #D21034;  }

.user_list_top_box_runnerups_line { display: block; padding-bottom: 3px; }
.user_list_top_box_runnerups_line div { display: inline; }
.user_list_top_box_right { padding: 5px; }
.user_list_top_box_left { padding-right: 5px; }
.user_list_top_box_left p { margin: 0px; }
.user_list_top_box { margin-bottom: 5px; width: 220px; vertical-align: top; background-color: #EEEEEE; }
.user_list_top_box_title { font-size: 18px; font-weight: bold; padding-bottom: 5px; padding: 5px; }
.user_list_top_box_runnerups { font-weight: bold; margin-bottom: 5px; }
.user_list_top_box_runnerups_title_name { padding-left: 13px; }
.user_list_top_box_runnerups_title_points, .user_list_top_box_runnerups_value { float: right; }
.user_list_top_box_runnerups_rank { font-weight: bold; float:left; width: 20px; }
.user_list_top_box_description { text-align:center; font-weight: bold; font-size: 14px; }
.user_list_top_box_user { font-size: 18px; text-align:center; font-weight: bold; padding-top: 4px; }
.user_list_top_box_image { text-align:center; min-width: 200px; min-height: 200px; }
.user_list_top_box_image img { min-width: 200px; min-height: 200px;  }
.user_list_top_box_show_more { width:16px; margin-left:auto; margin-right:auto; margin-top: 5px; }
.user_list_top_list_title span { font-size: 24px; font-weight: bold; color:#AAAAAA; }
.user_list_top_list_title a { vertical-align: middle; height: 24px; }
.user_list_top_list_title { margin: 10px 25px 5px 0px; }
#user_list_top_list_show { text-align:left; font-size: 14px; font-weight: bold; padding-top: 5px;}
#user_list_top_list_show img { vertical-align: bottom; }
.user_list_top_box_bottom { text-align: center; }
.user_list_top_column { display: inline-block; padding-bottom: 5px; vertical-align: top; }
#user_list_hall_of_fame { font-size: 28px; font-weight: bold; color: #AAAAAA; text-align: center; }
	
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

div.form_userlist_element_label_right label {
	font-size: 0.9em;	
}

#search_result_content_pagination_top,
#search_result_content_pagination_bottom {
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 12pt;
}

#search_result {
    width: 500px;
    overflow: hidden;
    float: left;
    font-size: 14px;
}

.content_entry_container {
	margin-top: 5px;
	padding: 0;
    clear: both;
    
    border: 0px solid blue;
    overflow: hidden;
}

.content_container_left {
    width: 70px;
	padding: 0;
	margin: 0;
    float: left;
}

.content_container_right {
	float: left;
	padding: 0;
    width: 420px;
    border: 0px solid red;
}

.content_container_right .translate {
	margin-top: 2px;
}

.content_entry_lead {
	padding: 0;	
}

.content_entry_user_image_problem {
    border-left: 6px solid #D21034;
}

.content_entry_user_image_idea {
    border-left: 6px solid #4B9B07;
}

.content_entry_user_image_finfo {
    border-left: 6px solid #FFC726;
}

#content #my-views .scroll-box p {
	padding: 0 !important;
}

.qtip-content ul {
	margin: 0;
	padding: 0;	
}

.qtip-content ul li {
	padding: 5px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	border-bottom: 1px dotted #CCC;
}


#content #content-page div#content-page-head { padding-left: 5px; }
#content #content-page div#content-page-head.problem { border-left:5px solid #D21034 !important; }
#content #content-page div#content-page-head.idea { border-left:5px solid #4B9B07 !important; }
#content #content-page div#content-page-head.finfo { border-left:5px solid #FFC726 !important; }

#hiddenmenu{
	display: none; 
	padding: 4px;
	background-color: #FFFFFF; 
	border: 1px solid #000000; 
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
}

#account_profile_image{
	border: 1px solid #e5e5e5;
	margin-left: 10px;
	padding: 4px;
	width: 280px;
}

#account_profile_image_submit{
	margin-left: 9px;
	margin-top: 6px;
}

form div.errors ul.errors li,
form div.error ul.errors li {
	clear: both;
	list-style-type: none;
	color: red;	
	text-align: left;
        position: relative;
        top:-8px;
        left:165px;
}

#login-page{
	margin: 2em 17em 2em 17em;
	padding: 1em;
	border: 1px solid #AAAAAA;
	background: #F8F8F8;	
	width: 240px;
}

#login-page-links {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dotted #CCC;	
}

form div.login-row { padding-bottom: 5px; }
form div.login-column1 { width: 80px; }
form div.login-column2 { width: 160px; }

#rss-list-feeds div.feed-row { cursor: pointer; }
#rss-list-feeds div.feed-row-selected { background: #F3F3F3; }
#rss-list-feeds div#feed-rows { border: 1px solid #CCC; }

#content #campaign-page #current-posts .scroll-box {
	padding:0 20px !important;	
}

#content #campaign-page #current-posts .scroll-box ul div.user {
	padding: 8px 0 !important;
	margin: 0 !important;
}
/** Private messages page*/
#privmsg-page #privmsg-options-all input { float: left; margin-right: 10px; }
#privmsg-page .privmsg { border: 1px solid #ccc; margin-bottom: -1px; }
#privmsg-page .privmsg h4 { color: #000; } 
#privmsg-page .privmsg-header { border-bottom: 1px dotted #ccc; }
#privmsg-page .privmsg .privmsg_userinfo { width: 110px; padding: 10px; }
#privmsg-page .privmsg .privmsg_content { width: 580px; }
#privmsg-page .privmsg .privmsg-header .reply { margin: 10px; }
#privmsg-page .privmsg .privmsg-header-new { color: red; margin: 10px; }
#privmsg-page #privmsg-options-all { height: 30px; }
#privmsg-page .privmsg img { width: 80px; height: 80px; }
#privmsg-page .privmsg:nth-child(odd) { background: #F2F2F2; }

/** Sending private messages page */
form#send_privmsg_form { margin-left: auto; margin-right: auto; }
form#send_privmsg_form label { font-weight: bold; display: block; float: left; width: 170px; }
form#send_privmsg_form input:focus, form#send_privmsg_form textarea:focus{ background-color: lightyellow; }
.form_privmsg_row { margin-left: 10px; margin-top: 10px; }
.form_privmsg_row label { font-weight: bold; display: block; float: left; width: 170px; }

/** Font size bigger on certain pages */
#content .user_content_list .user div.context p,
#content .user_content_list .user div.context h3 { font-size: 1.05em !important; }
 
/** Color for easy coloring of some text */
.light-gray { color: #C0C0C0 !important; }

/** Random sidebar things */
#sidebar .box-user-content .box-bottom { padding-top: 10px; }
#sidebar #content-authorinfo { padding-left: 10px; }
.hover-link:hover { background: #F2F2F2; cursor: pointer; }
div.top_right_box_links_users ul li a#user-link { padding-left: 5px; border-left: solid 5px #0089CF; }
div.top_right_box_links_users ul li { padding: 5px 0 5px; }

#sidebar ul.tags li.tags a:hover { background: #F2F2F2; }

#content_view_related_content_header span, 
#content_view_user_related_header span,
#content_view_related_campaign_header span { color: #C0C0C0; padding-left: 10px; }

.profile_image_mediumsize { height: 85px; width: 85px; }

/** Admin tools page 
 *
 * Admin tools decorations
 */
#admin_comment_flags_table { border: 1px solid #000; border-spacing: 0px; padding: 2px; width: 100%; }
#admin_comment_flags_table td { padding: 2px; }
#admin_comment_flags_table #desc_tr { background-color: #ccc; color: #000; }
#admin_comment_flags_table .desc_td_checkbox { width: 15px; }
#admin_comment_flags_table .item_tr:nth-child(odd) { background-color: #eee; color: #000; }

#sidebar ul.campaigns li { padding: 2px; list-style: none; }

.scroll-box .user .context { width: 375px !important; }

#campaign-page #profile-meta h4, #group-page #profile-meta h4 { font-size:1.1em !important; background:transparent url("../images/gray_dot_line_200.png") bottom no-repeat;
	color: #C0C0C0; padding:0px 0px 5px 0px; margin-top:20px; }
#campaign-links ul li.linked_campaigns div.linked_campaigns { border-left: solid 5px #003581; padding-left: 5px; }
#group-links ul li.linked_groups div.linked_groups { border-left: solid 5px #0089CF; padding-left: 5px; }
#campaign-page #contribute h3 { margin: 10px 0 !important; }
#campaign-page div#campaign-added-by, #group-page div#group-founded { margin-top: -7px; padding-bottom: 5px; }
#group-page #group-not-logged { font-size: 1.1em; }


/** Content view page adds */
div.solutions_child_row_content { padding: 0 0 0 15px; width: 400px; }
div.solutions_for_this_content { padding: 10px 0 0 7px; }
div.solution-row { padding: 5px; border-bottom: dotted 1px #CCC; }
div.solution-row .photo { padding-top: 5px; }
#content_view_campaign_related ul li { padding: 1px 0 1px 0 !important; margin: 0 !important; }

#sidebar .no-bg { background: none !important; margin-bottom: 1px !important; padding-bottom: 1px !important; }

/** Content add textareas */
textarea#content_textlead { height: 10em; }
textarea#content_references { height: 15em; }

.vote { cursor: pointer; }

div.tag_cloud { padding-bottom: 5px; }

/** Content unlinking page row styles */
.linking_from_header { padding-left: 5px; }
.linking_from_content { padding-left: 5px; width: 350px; }
